@import url('input.css');

.input-box {
  width:80%;
  height:100%;
  display:table;
  background-color:var(--black-rep);
  border-radius:26px;
  color:white;
  padding:0 10%;
}

.input-box .swap {
  display:table-cell;
  vertical-align:middle;
  width:40%;
  /* padding:10%; */
  /* text-align:right; */
  transition:.3s;
}

.flex-container {
  display:flex;
}

.areas {
  opacity:0;
}

.input-box table {
  height:100%;
  width:100%;
}

.dark-highlights {
  --hovc: #4a4a4a;
  --olhovc: #4a4a4a;
}

.request-input {
  width:70%;
  margin-bottom:15px;
}

.vert-container {
  display:table;
  vertical-align:middle;
  height:100%;
}

textarea {
  font-family:inherit;
}
